{% extends "paragraph.html.twig" %}

{% block paragraph %}
  {{ attach_library('longboat_rond/text-image-section') }}
  <div{{ attributes.addClass('block-text-image') }}>
    <div class="block-text-image__container container">
      
      <div class="block-text-image__content">
        {% if content.field_text_image_title %}
          <h2 class="block-text-image__title section__title">{{ content.field_text_image_title }}</h2>
        {% endif %}

        {% if content.field_text_image_text %}
          <div class="block-text-image__text">
            {{ content.field_text_image_text }}
          </div>
        {% endif %}
      </div>

      <div class="block-text-image__media">
        {% if content.field_text_image_image %}
          <div class="block-text-image__image">
            {{ content.field_text_image_image }}
          </div>
        {% endif %}
      </div>

    </div>
  </div>
{% endblock %}