<div class="layout-container">

  <header class="header">
    <div class="header__container container">

      <a href="{{ url('<front>') }}" class="header__logo">
        <img src="{{ base_path }}{{ directory }}/images/logo-longboat-rond.png" alt="Longboat Rond" class="header__logo-image header__logo-image--light">
        <img src="{{ base_path }}{{ directory }}/images/logo-longboat-rond-white.png" alt="Longboat Rond" class="header__logo-image header__logo-image--dark">
      </a>

      <div class="header__menu">
        {{ page.header }}
      </div>

      <button class="header__menu-toggle" aria-label="Toggle menu">
        <span class="header__menu-icon"></span>
      </button>

    </div>
  </header>


  <main role="main">

    <div class="layout-content">
      {{ content.field_paragraphs_content }}
      {{ page.content }}
    </div>

  </main>

  {% if page.footer %}
    <footer class="footer" role="contentinfo">
      <div class="container">
        <a href="{{ url('<front>') }}" class="footer__logo">
          <img src="{{ base_path }}{{ directory }}/images/logo-longboat-rond-footer.png" alt="Longboat Rond" class="footer__logo-image footer__logo-image--light">
          <img src="{{ base_path }}{{ directory }}/images/logo-longboat-rond-white-footer.png" alt="Longboat Rond" class="footer__logo-image footer__logo-image--dark">
        </a>
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}

</div>
